.Log {
}

.Log .Text {
    overflow: scroll;
}

.Log .Text .Message {
    margin: 0;
    padding-block: 0.5rem;
}
.Log .Text .Message:first-child {
    padding-top: 1rem;
}
.Log .Text .Message:last-child {
    padding-bottom: 1rem;
}