.Log {
}

.Log .Text {
    overflow: auto;
    height: 20vh;
    background-color: #EEEEEE;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}