.Log {
}

.Log .Text {
    overflow: scroll;
    height: 20vh;
    background-color: #EEEEEE;
    padding-inline: 0.5rem;
    font-size: 0.8rem;
}

.Log .Text .Message {
    margin: 0;
    padding-block: 0.5rem;
}