.Results {

    .Table {
        
        td:not(:first-child) {
            text-align: center;
        }

        td:last-child {
            background-color: #FFFFFF;
        }

        .Hint {
            font-size: 0.8rem;
            margin: 0;
            padding-top: 0.2rem;
        }
    }
}