@import "/icomoon/style.css";

body {
    margin: 0;
    font-size: 100%;
    font-family: Arial, sans-serif;
}

.Layout {
    display: grid;
    grid-template-columns: 80% 1fr;
    background-color: #FFFFFF;
    --gap: 0.5rem;
    padding: var(--gap);

    > .Content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        gap: var(--gap);
    
    }

    > .Navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
            > div {
            padding: var(--gap);
            background-color: #D3D9DD;
    
            h3 {
                margin: 0;
                padding-bottom: 1rem;
            }
        }
    
        > div:last-child {
            border: none;
        }
    }
    
}